$primary-color: rgb(69, 90, 100);
$background-color: #ffffff;
$font-family: "Open Sans", sans-serif;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  background-image: url(/img/topography-yellow-b72ba668eb8bbbc5a4bea8dee198392b.svg);
  font-family: $font-family;
  color: $primary-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover a:active {
  text-decoration: none;
}

h2 {
  font-weight: bold;
  font-size: 15px;
  margin: 3px;
}
