@import "defaults";

.results {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 10px;

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    padding: 5px;
    // align-items: left;

    // margin: 1rem, 0;
    background-color: white;
  }

  text-transform: capitalize;
}
