@import "defaults";

.search {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 80%;

  margin: 0, 1rem;

  &__form {
    padding-top: 20px;
  }

  &__lonlat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}

button {
  background-color: rgba(255, 255, 255, 1);
  padding: 7px 7px 7px 7px;
}
